*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background-color: #D2E0FB;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb{
    background-color: #556FB5;
    border-radius: 12px;
}