*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background-color: #FFC0D9;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb{
    background-color: #973131;
    border-radius: 12px;
}