* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(218,204,193);
    background: radial-gradient(circle, rgba(218,204,193,1) 0%, rgba(140,112,99,1) 100%);
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    height: 100%;
    padding: 0% 40px;
}

.navbar {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo img {
    height: 120px;
}

.navbar-menu-wrap {
    display: flex;
    column-gap: 140px;
    font-weight: 600;
    font-size: 20px;
}

.navbar-menu {
    display: flex;
    column-gap: 92.14px;
    align-items: center;
}

.navbar-menu a {
    text-transform: uppercase;
    color: #606060;
}

.navbar-menu a.active {
    color: black;
}

.navbar-auth {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.sign-in {
    background-color: black;
    border-radius: 28px;
    padding: 5px 22px;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 75px;
    min-height: calc(100% - 117px);
}

.snippets {
    color: #B4B4B8;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.title {
    font-size: 60px;
    font-weight: 800;
    width: 690px;
    line-height: 80px;
    margin-bottom: 15px;
}

.summer {
    display: inline;
    color: #A34343;
}

.description {
    width: 690px;
    color: #5b5b5b;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
}

.order-now {
    background-color: #A91D3A;
    border: none;
    border-radius: 30px;
    padding: 14px 35px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.social-media {
    display: flex;
    width: 172.25px;
    justify-content: space-around;

    & .a {
        display: flex;
        justify-content: center;
    }
}

.hero-image img {
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.background img {
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

